body {
  font-family: cursive;
}

.ant-card .ant-card-actions {
  border-top: none;
}
.ant-card .ant-card-actions li {
  /* border-inline-end: none; */
  margin-left: 20px;
  /* text-align: left; */
}

.title {
  color: #bd41be;
  font-family: cursive;
  margin-left: 20px;
  padding-top: 10px;
}

.ant-btn-primary {
  background-color: #bd41be;
}

.ant-btn-default {
  background-color: #bd41be;
  border-color: #bd41be;
  color: #fff;
}
.ant-btn-primary:not(:disabled):hover {
  background-color: #563356;
  border-color: #563356;
  color: #fff;
}

.ant-btn-default:not(:disabled):hover {
  border-color: #563356;
  background-color: #563356;
  color: #fff;
}

.ant-layout .ant-layout-header {
  background: #fff;
}

.action-header {
  width: "100%";
  position: sticky;
  top: 0;
  z-index: 1;
}

.white-bg {
  background: white;
}

.card-justify {
  padding: 2px;
  min-height: 480px;
  justify-content: center;
}

.margin-5px {
  margin: 5px;
}
.margin-left {
  margin-left: 5px;
}

.action-footer {
  position: sticky;
  bottom: 0;
}
.ant-layout .ant-layout-footer {
  background: #fff;
}
.ant-card-bordered {
  border-color: gainsboro;
}
.ant-card {
  width: 370px;
  height: 220px;
}

.min-hight {
  min-height: 100px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.text-align-left {
  text-align: left;
}

.light-purple-color {
  color: #bd41be;
}
.empty-data-view {
  color: gray;
  display: flex;
  align-items: center;
}
